{% extends 'base.html' %}

{% block title %} User {{ user.id }} {% endblock %}

{% block body %}
<img src="{{ user.image_url }}">
<h3>{{user.first_name}} {{user.last_name}}</h3>
<a href="/users/{{ user.id }}/edit" class="btn btn-primary">Edit</a>
<a href="/users/{{ user.id }}/delete" class="btn btn-danger">Delete</a>
<div></div>
<a href="/users" class="btn btn-primary">Home</a>
<hr>
<hr>
<h5>Posts</h5>
    <ul>
    {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
<a href="/users/{{user.id}}/posts/new" class="btn btn-primary">Add Post</a>
{% endblock %}